<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rh.study.knowledge.dao.jiufang.JiuFangYouKeLogMapper">

    <select id="queryYoukeByJfId" resultType="map">
        SELECT
        b.nick_name as "nickName",
        b.avatar_url as "avatarUrl",
        b.gender as "gender",
        b.jp_num as "jpNum"
        from jf_yk_log as a left join youke as b on a.openid = b.openid
        where a.jf_id=#{jfId}
    </select>

    <select id="queryScoreByJfId" resultType="map">
        SELECT
        a.one as "one",
        a.two as "two",
        a.three as "three",
        a.total as "total",
        a.ord as "ord",
        b.nick_name as "nickName",
        b.avatar_url as "avatarUrl",
        b.gender as "gender",
        b.openid as "openid"
        from jf_yk_log as a left join youke as b on a.openid = b.openid
        where a.jf_id=#{jfId}
        order by a.total DESC
    </select>
</mapper>