<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rh.study.knowledge.dao.jiufang.YouKeMapper">


    <select id="list" resultType="map">
        SELECT
        id,
        openid,
        nick_name as nickName,
        avatar_url as avatarUrl,
        province,
        city,
        gender,
        phone,
        create_time as createTime,
        update_time as updateTime
        FROM youke
        <where>
            <if test="nickName != null and nickName !=''" >
                AND nick_name LIKE concat('',#{nickName},'%')
            </if>
        </where>
        order by id DESC
    </select>

</mapper>