<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rh.study.knowledge.dao.redis.RedisIpMapper">

    <select id="list" resultType="map">
      SELECT a.id as id, a.group_id as group_id, a.ip as ip ,
        a.stat as stat,a.create_time as createTime,a.update_time as updateTime,
        a.`master` as `master`, a.intro as intro, b.name as name
        from redis_ip a LEFT JOIN redis_group b ON a.group_id = b.id
        <where>
            <if test="stat != null and stat !=''" >
                AND a.stat = #{stat}
            </if>
            <if test="groupId != null and groupId !=''" >
                AND a.group_id = #{groupId}
            </if>
            <if test="ip != null and ip !=''" >
                AND a.ip LIKE concat('',#{ip},'%')
            </if>
        </where>
        order by a.id DESC
    </select>
    <select id="queryByIp" resultType="map">
      SELECT COUNT(1) as CNT
        from redis_ip a
        <where>
            <if test="stat != null and stat !=''" >
                AND a.stat = #{stat}
            </if>
            <if test="groupId != null and groupId !=''" >
                AND a.group_id != #{groupId}
            </if>
            <if test="ip != null and ip !=''" >
                AND a.ip = #{ip}
            </if>
        </where>
    </select>
</mapper>